<div>
    <a href="/ope" class="btn">Volver</a>
</div>

    <STYLE>
     A {text-decoration:none}
     A IMG {border-style:none; border-width:0;}
     DIV {position:absolute; z-index:25;}
    .fc1-0 { COLOR:000000;FONT-SIZE:11PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
    .fc1-1 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
    .fc1-2 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;}
    .fc1-3 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;FONT-STYLE:ITALIC;}
    .fc1-4 { COLOR:000000;FONT-SIZE:6PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;FONT-STYLE:ITALIC;}
    .fc1-5 { COLOR:000000;FONT-SIZE:13PT;FONT-FAMILY:isoqsymbol;FONT-WEIGHT:NORMAL;}
    .fc1-6 { COLOR:000000;FONT-SIZE:8PT;FONT-FAMILY:Arial Narrow;FONT-WEIGHT:NORMAL;}
    .fc1-7 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;FONT-STYLE:ITALIC;}
    .fc1-8 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:BOLD;FONT-STYLE:ITALIC;}
    .fc1-9 { COLOR:000000;FONT-SIZE:13PT;FONT-FAMILY:isoqsymbol;FONT-WEIGHT:NORMAL;}
    .fc1-10 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:MS Shell Dlg;FONT-WEIGHT:NORMAL;}
    .fc1-11 { COLOR:000000;FONT-SIZE:19PT;FONT-FAMILY:isoqsymbol;FONT-WEIGHT:NORMAL;}
    .fc1-12 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Arial;FONT-WEIGHT:NORMAL;}
    .fc1-13 { COLOR:000000;FONT-SIZE:10PT;FONT-FAMILY:isoqsymbol;FONT-WEIGHT:NORMAL;}
    .ad1-0 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
    .ad1-1 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
    .ad1-2 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
    .ad1-3 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:0PX;border-right-width:0PX;}
    .ad1-4 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
    .ad1-5 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:dotted;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
    .ad1-6 {border-color:000000;border-style:none;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;}
    </STYLE>
    
    <TITLE>Diagrama de flujo de proceso</TITLE>
    <BODY BGCOLOR="FFFFFF"LEFTMARGIN=0 TOPMARGIN=0 BOTTOMMARGIN=0 RIGHTMARGIN=0>
    
    <div style="left:334PX;top:100PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:93PX;">
    <table width="0px" height="87PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:34PX;top:162PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:734PX;">
    </div>
    <div style="left:703PX;top:101PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:31PX;">
    <table width="0px" height="25PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:483PX;top:101PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:31PX;">
    <table width="0px" height="25PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:34PX;top:131PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:734PX;">
    </div>
    <div style="left:483PX;top:162PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:31PX;">
    <table width="0px" height="25PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:535PX;top:239PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:30PX;">
    <table width="0px" height="24PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:205PX;top:238PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:30PX;">
    <table width="0px" height="24PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:141PX;top:238PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:30PX;">
    <table width="0px" height="24PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:141PX;top:268PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:779PX;">
    <table width="0px" height="773PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:205PX;top:269PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:778PX;">
    <table width="0px" height="772PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:535PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:779PX;">
    <table width="0px" height="773PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:35PX;top:267PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:1PX;width:735PX;">
    </div>
    <div style="left:560PX;top:236PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:31PX;">
    <table width="0px" height="25PX"><td>&nbsp;</td></table>
    </div>
    <div style="left:560PX;top:268PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:779PX;">
    <table width="0px" height="773PX"><td>&nbsp;</td></table>
    </div>
    
    <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:34PX;top:100PX;width:735PX;height:92PX;">
    <table border=0 cellpadding=0 cellspacing=0 width=728px height=85px><TD>&nbsp;</TD></TABLE>
    </DIV>
    
    <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:35PX;top:206PX;width:734PX;height:32PX;">
    <table border=0 cellpadding=0 cellspacing=0 width=727px height=25px><TD>&nbsp;</TD></TABLE>
    </DIV>
    
    <DIV class="box" style="z-index:10; border-color:000000;border-style:solid;border-bottom-style:solid;border-bottom-width:1PX;border-left-style:solid;border-left-width:1PX;border-top-style:solid;border-top-width:1PX;border-right-style:solid;border-right-width:1PX;left:35PX;top:237PX;width:734PX;height:809PX;">
    <table border=0 cellpadding=0 cellspacing=0 width=727px height=802px><TD>&nbsp;</TD></TABLE>
    </DIV>
    
    <DIV style="left:111PX;top:55PX;width:657PX;height:21PX;TEXT-ALIGN:CENTER;"><span class="fc1-0">D I A G R A M A&nbsp;&nbsp;&nbsp;D E&nbsp;&nbsp;&nbsp;F L U J O&nbsp;&nbsp;&nbsp;D E L&nbsp;&nbsp;&nbsp;P R O C E S O</span></DIV>
    
    <DIV style="z-index:15;left:32PX;top:38PX;width:73PX;height:54PX;">
    <!-- <img  SRC="diagea000000.jpg"> -->
    </DIV>
    <DIV style="left:41PX;top:162PX;width:88PX;height:12PX;"><span class="fc1-1">Aprobado Por</span></DIV>
    
    <DIV style="left:342PX;top:162PX;width:36PX;height:12PX;"><span class="fc1-1">Fecha</span></DIV>
    
    <DIV style="left:342PX;top:132PX;width:138PX;height:12PX;"><span class="fc1-1">Nombre de la Pieza</span></DIV>
    
    <DIV style="left:490PX;top:101PX;width:184PX;height:12PX;"><span class="fc1-1">Revision/Fecha del Plano</span></DIV>
    
    <DIV style="left:41PX;top:132PX;width:88PX;height:12PX;"><span class="fc1-1">Organización</span></DIV>
    
    <DIV style="left:342PX;top:101PX;width:144PX;height:12PX;"><span class="fc1-1">Número de la Pieza (Cliente)</span></DIV>
    
    <DIV style="left:490PX;top:162PX;width:182PX;height:12PX;"><span class="fc1-1">Número/Rev. Pieza (Organización)</span></DIV>
    
    <DIV style="left:41PX;top:101PX;width:48PX;height:12PX;"><span class="fc1-2">Cliente</span></DIV>
    
    <DIV style="left:711PX;top:101PX;width:48PX;height:12PX;"><span class="fc1-2">Página</span></DIV>
    
    <DIV style="left:174PX;top:216PX;width:110PX;height:12PX;TEXT-ALIGN:CENTER;"><span class="fc1-3">Operación con Inspeción </span></DIV>
    
    <DIV style="left:624PX;top:217PX;width:60PX;height:12PX;"><span class="fc1-4">Transporte</span></DIV>
    
    <DIV style="left:598PX;top:210PX;width:21PX;height:22PX;"><span class="fc1-5">M</span></DIV>
    
    <DIV style="left:326PX;top:216PX;width:45PX;height:12PX;"><span class="fc1-3">Inspeción</span></DIV>
    
    <DIV style="left:47PX;top:210PX;width:23PX;height:22PX;"><span class="fc1-5">#</span></DIV>
    
    <DIV style="left:499PX;top:217PX;width:76PX;height:12PX;"><span class="fc1-3">Almacenamiento</span></DIV>
    
    <DIV style="left:388PX;top:210PX;width:23PX;height:22PX;"><span class="fc1-5">:</span></DIV>
    
    <DIV style="left:145PX;top:210PX;width:25PX;height:22PX;TEXT-ALIGN:CENTER;"><span class="fc1-5">O</span></DIV>
    
    <DIV style="left:72PX;top:216PX;width:56PX;height:12PX;"><span class="fc1-3">Operación</span></DIV>
    
    <DIV style="left:301PX;top:210PX;width:22PX;height:22PX;TEXT-ALIGN:CENTER;"><span class="fc1-5">3</span></DIV>
    
    <DIV style="left:491PX;top:174PX;width:270PX;height:17PX;"><span class="fc1-6">Ejemplo / 00</span></DIV>
    
    <DIV style="left:490PX;top:113PX;width:213PX;height:17PX;"><span class="fc1-6">03 - 23/07/2003 </span></DIV>
    
    <DIV style="left:693PX;top:210PX;width:21PX;height:22PX;"><span class="fc1-5">E</span></DIV>
    
    <DIV style="left:718PX;top:216PX;width:41PX;height:12PX;"><span class="fc1-3">Decisión</span></DIV>
    
    <DIV style="left:56PX;top:245PX;width:56PX;height:15PX;TEXT-ALIGN:CENTER;"><span class="fc1-7">Flujo </span></DIV>
    
    <DIV style="left:145PX;top:246PX;width:56PX;height:15PX;TEXT-ALIGN:CENTER;"><span class="fc1-8">Nó Ope.</span></DIV>
    
    <DIV style="left:289PX;top:246PX;width:167PX;height:15PX;TEXT-ALIGN:CENTER;"><span class="fc1-7">Descripción del Operación</span></DIV>
    
    <DIV style="left:602PX;top:245PX;width:108PX;height:15PX;TEXT-ALIGN:CENTER;"><span class="fc1-7">Observaciones</span></DIV>
    
    <DIV style="left:342PX;top:114PX;width:142PX;height:14PX;"><span class="fc1-6">1000-0</span></DIV>
    
    <DIV style="left:342PX;top:146PX;width:420PX;height:14PX;"><span class="fc1-6"><%= opes.pa1 %></span></DIV>
    
    <DIV style="left:41PX;top:146PX;width:291PX;height:14PX;"><span class="fc1-6"><%= opes.or1 %></span></DIV>
    
    <DIV style="left:41PX;top:114PX;width:285PX;height:14PX;"><span class="fc1-6"><%= opes.cu1 %></span></DIV>
    
    <DIV style="left:707PX;top:114PX;width:17PX;height:14PX;TEXT-ALIGN:RIGHT;"><span class="fc1-6">1</span></DIV>
    
    <DIV style="left:725PX;top:114PX;width:17PX;height:13PX;TEXT-ALIGN:CENTER;"><span class="fc1-6">de</span></DIV>
    
    <DIV style="left:743PX;top:114PX;width:23PX;height:14PX;"><span class="fc1-6">1</span></DIV>
    
    <DIV style="left:415PX;top:217PX;width:38PX;height:12PX;"><span class="fc1-3">Demora</span></DIV>
    
    <DIV style="left:472PX;top:211PX;width:23PX;height:22PX;TEXT-ALIGN:CENTER;"><span class="fc1-9">2&nbsp;</span></DIV>
    
    <DIV style="left:538PX;top:246PX;width:19PX;height:15PX;TEXT-ALIGN:CENTER;"><span class="fc1-7">CE</span></DIV>
    
    <DIV style="left:40PX;top:276PX;width:44PX;height:27PX;TEXT-ALIGN:CENTER;"><span class="fc1-11">C</span></DIV>
    
    <DIV style="left:146PX;top:285PX;width:56PX;height:13PX;TEXT-ALIGN:CENTER;"><span class="fc1-12">010</span></DIV>
    
    <DIV style="left:212PX;top:285PX;width:317PX;height:13PX;"><span class="fc1-12">Inspección de las Características da Materia Prima</span></DIV>
    
    <DIV style="left:566PX;top:286PX;width:199PX;height:13PX;"><span class="fc1-12">Plan de Calidad NI-025</span></DIV>
    
    <DIV style="left:88PX;top:276PX;width:45PX;height:27PX;TEXT-ALIGN:CENTER;"><span class="fc1-11">3</span></DIV>
    
    <DIV style="left:40PX;top:303PX;width:44PX;height:27PX;TEXT-ALIGN:CENTER;"><span class="fc1-11">O</span></DIV>
    
    
    <BR>
    </BODY></HTML>
    