<%- include ('partials/_header'); %>

<form action="/db/submit" method="POST">
  <label for="db1">Ingresa tu usuario de la base de datos</label>
  <input type="text" name="db1" id="db1" placeholder="Usuario">
  <button type="submit">Enviar</button>
</form>
