<%- include ('../partials/styles'); %>
    
    <title>Registro de Datos</title>
  </head>
  <nav>
    <ul>
      <li><a href="/org">Organización</a></li>
      <li><a href="/cust">Clientes</a></li>
      <li><a href="/par">Productos</a></li>
      <li><a href="/ope">Operaciones</a></li>
      <li><a href="/chr">Características</a></li>
      <li><a href="/fme">Modos de Falla</a></li>
      <li><a href="/pro">Procedimientos</a></li>
      <li><a href="/pcp">Plan de control</a></li>
    </ul>
  </nav>
  <br>
  <a href="/logout">Salir</a>
  <a href="/" class="btn">Volver</a>

  
    <h2>Planeacion Avanzada de la Calidad del Producto</h2>
</br>


<!-- </br>
</br>
</br> -->
